<div *ngIf="!isFileImage && !isFileDocument"
     class="d-flex w-100 h-100" >
  <div class="dropzone"
       appDragAndDrop
       (fileDropped)="onFileUpload($event)">
    <input id="fileDropRef"
           type="file"
           (change)="onFileSelected($event)"
           [multiple]="false">
    <fa-icon [icon]="faUpload"
             title="Drag & Drop"></fa-icon>
    <h5>{{'Drag and drop file here or' | uppercase}}</h5>
    <label class="button"
           for="fileDropRef">{{'Browse for file' | uppercase}}</label>
  </div>
</div>
<div class="file-preview-container">
  <img *ngIf="isFileImage"
       alt=""
       [src]="selectedFilePath"
       height="200">
  <ngx-extended-pdf-viewer *ngIf="isFileDocument"
                           [base64Src]="selectedFileB64"
                           [useBrowserLocale]="true"
                           [handTool]="false"
                           [textLayer]="true"
                           [showHandToolButton]="true" >
  </ngx-extended-pdf-viewer>
</div>
