<div class="main">
  <form [formGroup]="userCVFormGroup">
    <div class="container">
      <div class="accordion"
           id="generalInformationAccordion">
        <div class="accordion-item">
          <h2 class="accordion-header">
            <button class="accordion-button"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#generalInformationCollapse"
                    aria-expanded="true"
                    aria-controls="generalInformationCollapse">
              General Information
            </button>
          </h2>
          <div id="generalInformationCollapse"
               class="accordion-collapse collapse show"
               data-bs-parent="#generalInformationAccordion">
            <div class="accordion-body">
              <div class="form-group mb-4">
                <label>Name & Surname:</label>
                <input class="form-control"
                       type="text"
                       formControlName="fullName">
              </div>

              <div class="form-group mb-4">
                <label>Overall Description:</label>
                <input type="text"
                       class="form-control"
                       formControlName="overallDescription">
              </div>

              <div class="form-group mb-4">
                <label>Role:</label>
                <input type="text"
                       class="form-control"
                       formControlName="role">
              </div>

              <div class="form-group mb-4">
                <label>Experience:</label>
                <input type="text"
                       class="form-control"
                       formControlName="experience">
              </div>

              <div class="form-group mb-4">
                <label>Type Of Projects:</label>
                <input type="text"
                       class="form-control"
                       formControlName="typeOfProjects">
              </div>

              <div class="form-group mb-4">
                <label>Technology Stack:</label>
                <input type="text"
                       class="form-control"
                       formControlName="technologyStack">
              </div>

              <div class="form-group">
                <label>Languages:</label>
                <input type="text"
                       class="form-control"
                       formControlName="languages">
              </div>
            </div>
          </div>
        </div>
      </div>

      <div formArrayName="educationList">
        <div *ngFor="let edu of educationList.controls, let i=index;">
          <div class="accordion mt-3"
               id="{{'educationAccordion' + i}}">
            <div class="accordion-item">
              <h2 class="accordion-header">
                <button class="accordion-button"
                        type="button"
                        data-bs-toggle="collapse"
                        [attr.data-bs-target]="'#educationCollapse' + i"
                        aria-expanded="true"
                        [attr.aria-controls]="'educationCollapse' + i">
                  <fa-icon class="fa-rotate-180 mr-1 delete"
                           [icon]="faDeleteLeft"
                           title="Delete"
                           (click)="removeEducation(i)"></fa-icon>
                  Education #{{i + 1}}
                </button>
              </h2>
              <div id="{{'educationCollapse' + i}}"
                   class="accordion-collapse collapse show"
                   [attr.data-bs-parent]="'#educationAccordion' + i">
                <div class="accordion-body">
                  <div class="form-group mb-4" [formGroupName]="i">
                    <label>School Name:</label>
                    <input class="form-control"
                           type="text"
                           formControlName="school">
                  </div>

                  <div class="form-group mb-4" [formGroupName]="i">
                    <label>Description:</label>
                    <input type="text"
                           class="form-control"
                           formControlName="description">
                  </div>

                  <div class="form-group" [formGroupName]="i">
                    <label>Period:</label>
                    <input type="text"
                           class="form-control"
                           formControlName="period">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="w-100 d-flex mt-1">
          <button class="button m-auto"
                  type='button'
                  (click)="addEducation()">Add</button>
        </div>
      </div>

      <div formArrayName="detailedExperienceList">
        <div *ngFor="let exp of detailedExperienceList.controls; let i=index">
          <div class="accordion mt-3"
               id="{{'detailedExperienceAccordion' + i}}">
            <div class="accordion-item">
              <h2 class="accordion-header">
                <button class="accordion-button"
                        type="button"
                        data-bs-toggle="collapse"
                        [attr.data-bs-target]="'#detailedExperienceCollapse' + i"
                        aria-expanded="true"
                        [attr.aria-controls]="'detailedExperienceCollapse' + i">
                  <fa-icon class="fa-rotate-180 mr-1 delete"
                           [icon]="faDeleteLeft"
                           title="Delete"
                           (click)="removeExperience(i)"></fa-icon>
                  Detailed Experience #{{i + 1}}
                </button>
              </h2>
              <div id="{{'detailedExperienceCollapse' + i}}"
                   class="accordion-collapse collapse show"
                   [attr.data-bs-parent]="'#detailedExperienceAccordion' + i">
                <div class="accordion-body">
                  <div class="form-group mb-4" [formGroupName]="i">
                    <label>Job Role:</label>
                    <input class="form-control"
                           type="text"
                           formControlName="jobRole">
                  </div>

                  <div class="form-group mb-4" [formGroupName]="i">
                    <label>Company:</label>
                    <input type="text"
                           class="form-control"
                           formControlName="company">
                  </div>

                  <div class="form-group mb-4" [formGroupName]="i">
                    <label>Time Period:</label>
                    <input type="text"
                           class="form-control"
                           formControlName="timePeriod">
                  </div>

                  <div class="form-group" [formGroupName]="i">
                    <label>Description:</label>
                    <input type="text"
                           class="form-control"
                           formControlName="description">
                  </div>

                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="w-100 d-flex mt-1">
          <button class="button m-auto"
                  type='button'
                  (click)="addExperience()">Add</button>
        </div>
      </div>
    </div>
  </form>
  <div class="container">
    <div class="form-group mt-3">
      <label class="mr-1">Template Type:</label>
      <div class="form-check form-check-inline">
        <input id="template0"
               class="form-check-input"
               type="radio"
               name="templateType"
               [(ngModel)]="isTemplateTypeOld"
               [value]="true">
        <label class="form-check-label"
               for="template0">Old
        </label>
      </div>
      <div class="form-check form-check-inline">
        <input id="template1"
               class="form-check-input"
               type="radio"
               name="templateType"
               [(ngModel)]="isTemplateTypeOld"
               [value]="false">
        <label class="form-check-label"
               for="template1">New
        </label>
      </div>
    </div>
    <div class="w-100 d-flex mt-3">
      <button class="button m-auto"
              type="button"
              (click)="generateTemplate()">Generate {{isTemplateTypeOld ? 'Old' : 'New'}} Template</button>
    </div>
  </div>
</div>
